body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tictactoe{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.red{
    color: #f70000;
}
.blue{
    color:#0000f7;
}
p{
    margin: 0;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 2em;
}
.grid{
    height: 24em;
    width: 24em;
    background: black;
    display: grid;
    grid-template-columns: repeat(3,32.1%);
    grid-template-rows: repeat(3,32.1%);
    gap: 2%;
}
.case{
    background: white;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}
.replay{
    height: 2.5em;
    width: 9em;
    border: 0;
    cursor: pointer;
    color: white;
    background: #19b3ed;
}